.card {
    min-width: 350px;
    border: none !important;

    &-img-top {
        border-radius: 10px !important;
        height: 259px;
        object-fit: cover;
    }


    &-body {
        padding: unset !important;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-rating {
            font-size: 15px;
        }
    }

    &-text {
        &-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 10px;

        }

        &-date {
            border: 2px solid #D7D8D9;
            border-radius: 10px;
            padding: 4px;
            font-size: 13px;
            letter-spacing: 0.2em;
            color: #003C77;
        }

        &-icon {
            background: #003C77;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $white;
        }

        &-prices {
            display: flex;
            justify-content: space-between;

            &-price {
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 0rem;
            }

            &-night {
                font-size: 20px;
                margin-top: 6px;
                margin-bottom: 0rem;
            }

            &-button {
                background: transparent;
                border: none;
                color: $black;
                border-radius: .25rem;
                letter-spacing: 0.2em;
                font-size: 18px;
                font-style: italic;
                transition: all 1s ease-out;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }
            }

        }
    }
}

.col {
    max-width: 373px;
}


@media (max-width: 1200px) {
    .card {
        min-width: 300px;
    }
    
}

@media (max-width: 1000px) {
    .card {
        min-width: 240px;
    }
}

@media (max-width: 800px) {
    .card {
        min-width: 230px;
        max-width: 100%;
    }
    .col {
        max-width: 100%;
    }
}
