.card {
  min-width: 350px;
  max-width: 100%;
  border: none !important;

  &-img-top {
    border-radius: 10px !important;
    height: 259px;
    object-fit: cover;
    max-width: 100%;
  }

  &-body {
    padding: unset !important;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 67%;
    }
  }

  &-text {
    &-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    &-date {
      border: 1px solid var(--color-lightgray);
      border-radius: 10px;
      padding: 3px 8px;
      font-size: 13px;
      letter-spacing: 0.2em;
      color: var(--color-lightgray);
    }

    &-icon {
      background: var(--color-purple);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }

    &-prices {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      font-style: italic;

      &-price {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 0rem;

        &-night {
          font-size: 20px;
        }
      }

      &-link {
        text-decoration: none;
        border: 1px solid var(--color-purple);
        color: var(--color-purple);
        letter-spacing: 0.2em;
        text-align: center;
        padding: 0.375rem 0.75rem;
        font-size: 16px;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
        border-radius: 8px;

        &:hover {
          color: var(--color-darkPurple);
          background: var(--color-lightpink);
          border: 1px solid var(--color-lightpink);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .card {
    min-width: 300px;
  }
}

@media (max-width: 1000px) {
  .card {
    min-width: 260px;
  }
}

@media (max-width: 838px) {
  .card {
    min-width: unset;
    max-width: 100%;
  }
}
