/* make the customizations */
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 1000px,
  xl: 1140px,
  xxl: 1320px,
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';