.nav-link {
  color: var(--color-lightgray);

  &:hover,
  &:focus {
    color: $black;
  }
}
.dropdown-btn {
  color: var(--color-lightgray);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  border-color: none;

  img {
    object-fit: cover;
  }

  &:hover,
  &:focus,
  &:checked,
  &:active {
    border-color: transparent !important;
  }
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border-color: transparent !important;
}

@media (max-width: 575px) {
  .dropdown-btn {
    padding-left: unset !important;
  }
  .navbar-nav {
    padding-left: 3px;
  }
}
