.form-text {
  color: var(--color-red);
}

.input-group {
  &-text {
    background: none;
  }

  .form-control {
    border-left: none;
    border-right: none;
  }
}

.search-form {
  margin: 0 auto !important;
  max-width: 343px;
}

.errorMessage {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.form-check-input:checked {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}
